 <div class="fixed-action-btn">
    <a href="/stories/new" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position='top' data-delay='1' data-tooltip='New Story'><i class="fa fa-plus"></i></a>
 </div>
 
