<nav class="grey darken-1">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/stories" class="brand-logo center">StoryBooks</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            {{!-- RIGHT NAV --}}
            <ul class="right hide-on-small-only">
                {{#if user}}
                    <li>
                        <a href="/dashboard">Welcome {{user.firstName}}</a>
                    </li>
                    <li>
                        <a href="/auth/logout">Logout <i class="fas fa-sign-out-alt fa-1x"></i></a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/storeis">Public Storeis <i class="fa fa-book fa-1x"></i></a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>  