body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mt-5 {
    margin-top: 80px;
}

.mb-5 {
    margin-bottom: 30px;
}

.user-view .background {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navy {
    background-color: #2c3e50 !important;
}

.dark-text {
    color: #333;
}

.date {
    display: block;
}

.back-to-stories {
    color: #333;
    font-size: 16px;
    line-height: 5vh;
    transition: color .1s ease-in;
}

.back-to-stories:hover {
    color: #18bc9c;
}

.page-footer {
    background-color: #2c3e50;
}

.page-footer .footer-copyright {
    background-color: #1a252f;
}

.page-footer .container ul li a {
    color: #fff;
    transition: color .1s ease-in;
}

.page-footer .container ul li a:hover {
    color: #18bc9c;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #333;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #18bc9c;
}