body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.user-view .background {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navy {
    background-color: #2c3e50!important;
}

.dark-text {
    color: #333;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #2c3e50;
}

.page-footer .footer-copyright {
    background-color: #1a252f;
}

.page-footer .container ul li a {
    color: #fff;
    transition: color .1s ease-in;
}

.page-footer .container ul li a:hover {
    color: #18bc9c;
}