<div class="center-align">
    <h3>Welcome to StoryBooks!</h3>
    {{#if user}} 
    {{else}}
    <p>You can view public storie <a href="/stories">here.</a></p>
    <p>If you would like to share your story with us, please sing in below and start typing!</p>
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google fa-1x left"></i> Login with Google</a>
    {{/if}}
</div>
